/* Media Queries */

@media (min-width: 768px) {
  body {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
      "header header header" 
      "nav  main   main  ";
  }
  main {
    grid-template-columns: 50%;
  }
  .traffic,
  .social {
    grid-column: 1 / span 2;
  }
  .daily,
  .members,
  .message {
    grid-column: 1 / span 1;
  }
  .mobile,
  .activity,
  .settings {
    grid-column: 2 / span 1;
  }
}