nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: var(--primary1);
  color: var(--accent1Text);
  gap: 0.75rem;
  align-items: center;
  padding: 0.25rem;
}

.notifications {
  border-radius: 50%;
  background: var(--accent2);
  vertical-align: top;
  color: white;
  position: relative;
  height: 6px;
  width: 6px;
  top: -3px;
}

// .dropdown {
// 	width: 10rem;
// 	height: 0px;
// 	opacity: 0;
// 	position: absolute;
// 	transition: 1s opacity, 250ms height;
// 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
// }
// .dropdown h2 {
// 	font-size: 14px;
// 	padding: 10px;
// 	border-bottom: 1px solid #eee;
// 	color: #999;
// }
// .dropdown-item {
// 	display: flex;
// 	border-bottom: 1px solid #eee;
// 	padding: 15px 5px;
// 	margin-bottom: 1rem;
// 	cursor: pointer;
// }
// .dropdown-item:hover {
// 	background-color: #eee;
// }
// .dropdown-item img {
// 	display: block;
// 	width: 2rem;
// 	margin-right: 10px;
// 	border-radius: 50%;
// }
// .dropdown-item .dropdown-text h4 {
// 	color: #777;
// 	font-size: 16px;
// 	margin-top: 10px;
// }
// .dropdown-item .dropdown-text p {
// 	color: #aaa;
// 	font-size: 12px;
// }


.home {
  grid-column: 2;
}

.bar-chart {
  grid-column: 3;
}

.members-nav {
  grid-column: 4;
}

.settings-nav {
  grid-column: 5;
}

.home,
.bar-chart,
.members-nav,
.settings-nav {
  width: 1.7rem;
  margin-top: 5px;
}

.svg-home,
.svg-bar-chart,
.svg-members,
.svg-settings {
  fill: white;
}

//////////////////////
/// MEDIA QUERIES
/// //////////////////

@media (min-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  nav {
    height: 109%;
  }
}