* {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
}

.headline {
  margin: .5rem;
  font-weight: bold;
}
//////////////////////??////
// MEDIA QUERIES
/////////////////////////////

@media (min-width: 768px) {
  .traffic-header {
    display: flex;
    align-items: center;
    justify-content:flex-start
  }
}

@media (min-width: 1024px) {
  .message h3, 
  .settings h3 {
	  margin: 0.5rem 0 .5rem 0;
  }
  .settings h3 {
    margin: 0.5rem 0 .5rem 1rem;
  }
}
